<section class="dados container">
    <h2 class="subtitulo">Dados Recentes</h2>

    <ul class="dados_lista">
        <li class="grid-1-3">
            <div class="dados_icone">
                <h3 class="titulo-dados">Custo Médio de um incidente com vazamento de dados em 2020</h3>
            </div>
            <p>3,86 USD Global, 1,12USD Brasil </p>
        </li>

        <li class="grid-1-3">
            <div class="dados_icone">
                <h3 class="titulo-dados">Custo Médio de um incidente com vazamento de dados em 2021</h3>
            </div>
            <p>4,24 USD Global, 1,08USD Brasil </p>
        </li>

        <li class="grid-1-3">
            <div class="dados_icone">
                <h3 class="titulo-dados">Custo Médio de um incidente com vazamento de dados em 2022</h3>
            </div>
            <p> 4,35 USD Global, 1,38USD Brasil </p>
        </li>
    </ul>
</section>