.spacerToolBar {
    flex: 1 1 auto;
}

.textButton {
    width: 80px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.iconButton {
    padding: 0 14px; 
    border-radius: 14px;
    margin-left:14px;
    margin-top: 1px;
    cursor: pointer;
    BACKGROUND: #3F52B5;
    BORDER: none;
}

