<div class="sobreGeral">
    <h2 class="subtitulo titulo-contato">Sobre Nós</h2>
    <div class="container">
        <div class="sobre01">
            <div id="imagem">
                <img class="imagem-perfil" src=".\assets/img/charles.jpg" alt="Imagem de perfil Charles" target="_blank">
            </div>
            <div id="conteudo01">
                <p class="nome">Charles N. E. de Oliveira</p>
                <p class="função">Especialista em Segurança da Informação</p>
                <p class="email">charles.oliveira@facens.br</p><br>
                <p class="socialMedia">
                    <a href="https://github.com/OliveiraCharles" target="_blank"><img
                            src="assets/img/redes-sociais/github.svg" alt="Github"></a>
                    <a href="https://www.linkedin.com/in/charles-oliveira-86410324a/" target="_blank"><img
                            src="assets/img/redes-sociais/linkedin.svg" alt="Linkedin"></a>
                </p>
            </div>
        </div>

        <div class="sobre02">
            <div id="imagem">
                <img class="imagem-perfil" src="assets/img/gelson.jpeg" alt="Imagem de perfil Gelson">
            </div>
            <div>
                <p class="nome">Gelson José de Almeida Filho</p>
                <p class="função">Especialista em Segurança da Informação</p>
                <p class="email">gelson.filho@facens.br</p><br>
                <p class="socialMedia">
                    <a href="https://github.com/GelsonFilho" target="_blank"><img src="assets/img/redes-sociais/github.svg"
                            alt="Github"></a>
                    <a href="https://www.linkedin.com/in/gelson-filho/" target="_blank"><img
                            src="assets/img/redes-sociais/linkedin.svg" alt="Linkedin"></a>
                </p>
            </div>
        </div>

        <div class="sobre01">
            <div id="imagem">
                <img class="imagem-perfil" src="assets/img/leonardo.jpeg" alt="Imagem de perfil Leonardo">
            </div>
            <div>
                <p class="nome">Leonardo dos Reis Souza</p>
                <p class="função">Especialista em Segurança da Informação</p>
                <p class="email">leonardo.souza@facens.br</p>
                <p class="socialMedia">
                    <a href="https://github.com/Leonardo-ReisSouza-Facens" target="_blank"><img
                            src="assets/img/redes-sociais/github.svg" alt="Github"></a>
                    <a href="https://www.linkedin.com/in/leonardo-dos-reis-souza-614157207/" target="_blank"><img
                            src="assets/img/redes-sociais/linkedin.svg" alt="Linkedin"></a>
                </p>
            </div>
        </div>

        <div class="sobre02">
            <div id="imagem">
                <img class="imagem-perfil" src="assets/img/lucca.jpg" alt="Imagem de perfil Lucca">
            </div>
            <div>
                <p class="nome">Lucca Lo Presti Campos</p>
                <p class="função">Especialista em Segurança da Informação</p>
                <p class="email">lucca.campos@facens.br</p><br>
                <p class="socialMedia">
                    <a href="https://github.com/Luccalpc" target="_blank"><img src="assets/img/redes-sociais/github.svg"
                            alt="Github"></a>
                    <a href="https://www.linkedin.com/in/luccalopresti/" target="_blank"><img
                            src="assets/img/redes-sociais/linkedin.svg" alt="Linkedin"></a>
                </p>
            </div>
        </div>

        <div class="sobre01">
            <div id="imagem">
                <img class="imagem-perfil" src="assets/img/renan.jpeg" alt="Imagem de perfil Renan" target="_blank">
            </div>
            <div>
                <p class="nome">Renan Alcoléa de Souza</p>
                <p class="função">Especialista em Segurança da Informação</p>
                <p class="email">renan.souza@facens.br</p>
                <p class="socialMedia">
                    <a href="https://github.com/RenanAlcoleaFacens" target="_blank"><img
                            src="assets/img/redes-sociais/github.svg" alt="Github"></a>
                    <a href="https://www.linkedin.com/in/renan-alcolea/" target="_blank"><img
                            src="assets/img/redes-sociais/linkedin.svg" alt="Linkedin"></a>
                </p>
            </div>
        </div>
    </div>

</div>

<footer>
    <div class="copy">
        <div class="container">
            <p class="paragrafo-copy grid-16">Equipe Connor | 2022</p>
        </div>
    </div>
</footer>
